@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(IMG/fondo_Caratula.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: burlywood;
    font-size: 35px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: burlywood;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color:darkgoldenrod;
}

#menu{
    display: none;
}

.menu-icono{
    width: 45px;
}

.menu label{
    cursor:pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 100px;
    line-height: 80px;
    color: #F0C21D;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 35px;
    text-align: justify;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE9678;
    color: #F9FAFC;
    text-transform: uppercase;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-1:hover{
    background-color: #ebad8d;
}

.Tortilla{
    padding: 100px 0;
    background-color: #F6E5A5;
    position: relative;
}

.Tortilla-content{
    text-align: center;
}

.Tortilla-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.Tortilla-group{
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
}

.Tortilla-1{
    padding: 0 25px;
}

.Tortilla-1 img{
    width: 300px;
}

.Tortilla-img{
    position: absolute;
    top: 0;
    right: 0;
}

.Tortilla-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.Services{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(IMG/background_Services.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.Services-content{
    text-align: center;
}

.Services-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.Services-content p{
    font-size: 16px;
    color: #C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.Services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Services-1 {
    padding: 0 100px;
}

.Services-1 img{
    width: 50px;
    margin-bottom: 15px;
}

.Services-1 h3{
    color: #EACCB3;
    font-size: 18px;
}

.general{
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px  100px 100px;
    background-color: #E1E2E6;
}

.general-2 {
    background-image: url(IMG/general-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(IMG/general-3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

@media(max-width:991px){

    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .Tortilla {
        padding: 30px;
    }

    .Tortilla-content h2{
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .Tortilla-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .Tortilla-img{
        display: none;
    }

    .Services{
        padding: 30px;
    }

    .Services-content p{
        padding: 0;
    }

    .Services-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .Services-1{
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3{
        display: none;
    }
}